appnope==0.1.0
astroid==2.1.0
autopep8==1.4.3
backcall==0.1.0
bleach==3.1.0
Click==7.0
click-log==0.3.2
cloudpickle==0.8.0
cycler==0.10.0
Cython==0.29.4
dask==1.1.1
dateparser==0.7.1
decorator==4.3.2
defusedxml==0.5.0
entrypoints==0.3
et-xmlfile==1.0.1
fpdf==1.7.2
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
jdcal==1.4
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mistletoe==0.7.1
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
nose==1.3.7
notebook==5.7.4
numpy==1.16.1
opencv-python==4.0.0.21
openpyxl==2.6.1
ordered-set==3.1
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pip-autoremove==0.9.1
prometheus-client==0.5.0
prompt-toolkit==2.0.8
ptyprocess==0.6.0
pycairo==1.18.0
pycodestyle==2.5.0
Pygments==2.3.1
PyLaTeX==1.3.0
pylint==2.2.2
pyparsing==2.3.1
PyPDF2==1.26.0
Pypubsub==4.0.3
PyQt5-sip==4.19.14
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.1
PyYAML==3.13
pyzbar==0.1.7
pyzmq==17.1.2
qtconsole==4.4.3
regex==2019.3.12
scikit-image==0.14.2
scipy==1.2.1
Send2Trash==1.5.0
six==1.12.0
tbb==2019.0
terminado==0.8.1
testpath==0.4.2
tinydb==3.12.2
toolz==0.9.0
tornado==5.1.1
tqdm==4.31.0
traitlets==4.3.2
tzlocal==1.5.1
ujson==1.35
Wand==0.5.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wrapt==1.11.1
wxPython==4.0.4
xlrd==1.2.0
