click
dateparser
datetime
pandas
scipy
xlrd
click_log
opencv-python
opencv-contrib-python
openpyxl
scikit-image
tinydb
Wand
img2pdf
pyyaml
pylatex
wheel
mistletoe
pypdf2
PySide6
pyqtdarktheme
markdownify
markdown
markdown-checklists